.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.coin-text{
  color:#d8d8d8;
  text-align: center;
  filter:drop-shadow(0 2px 2px gray);
  -webkit-filter:drop-shadow(0 2px 2px gray);
  margin-bottom: 32px;
}
.coin-input{
  line-height: 30px;
  width:40vmax;
  text-align: center;
  font-size: 40px;
  border-radius: 100vmax;
  -webkit-border-radius: 100vmax;
  -moz-border-radius: 100vmax;
  -ms-border-radius: 100vmax;
  -o-border-radius: 100vmax;
  background:#0c146c;
  color:white;
  border:none;
  box-shadow: 1px 0 3px 1px rgb(61, 61, 61);
  margin-left: auto;
  margin-right: auto;
}
.coin-input::-webkit-input-placeholder,
  .coin-input::-moz-placeholder,
  .coin-input:-ms-input-placeholder,
  .coin-input:-moz-placeholder { 
  color: rgb(255, 255, 255);
}

.coin-input:focus-visible{
  outline:none;
  box-shadow: -2px 0 10px 1px rgb(107, 107, 182);
}
.coin-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-search h2{
  color:white;
}
.coin-search form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin-search button{
  margin: 15px;
}